---
import BlogPost from "../components/BlogPost.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
            <h1>Blog</h1>
        <ul>
            {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLaout>
