---
import Social from "./Social.astro";

const username = "flyinghumpter";
---

<footer>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    <p>&copy; 2025 {username}</p>
</footer>